#logo{
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}


#sign-in-title{
    font-size: 30px;
    margin-left: 30px;
}


.sign-in-box {
    display: flex;
    justify-content: center;
    width: 350px;
    border: 1px solid lightgrey;
    padding: 20px;
    margin: auto;
    font-family:'Calibri';

  }

  #forgot-password{
    text-align:right; /* not sure why it's not workiing */
}


input{
    display: flex;
    justify-content: center;
    width: 350px;
  }


#continue-button{
    background-color: #f0c65c;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 350px;
    height: 30px;
}


.new-to {
    display:flex;
    justify-content: center;
    text-align: center; 
    text-align: center; 
    font-family:'Calibri';
  }


#create-button{
    width: 350px;
}

.extra-links{
    display: flex;
    justify-content: center;
    font-family: 'Calibri';
    font-size: smaller;
    margin-top: 20px;
    padding: 20px;
    border-top: 1px solid black;
}


a:visited{
    color: skyblue;
}


footer{
    display: flex;
    justify-content: center;
    font-size: smaller;
}
